<div id="site" class="site">
  <!--<editor-fold desc="顶部导航栏">-->
  <div id="site-nav" class="site-nav">
    <div class=" nav-left">定位：</div>
    <div class=" nav-right">
      <div class="flex-item"><a href="#">登录</a></div>
      <div class="flex-item"><a href="#">注册</a></div>
      <div class="flex-item"><a href="#">我的订单</a></div>
      <div class="flex-item"><a href="#">手机京东</a></div>
      <div class="flex-item"><a href="#">企业采购</a></div>
      <div class="flex-item"><a href="#">关注京东</a></div>
      <div class="flex-item">导航</div>
      <div class="flex-item">客户服务</div>
      <div class="flex-item">网站导航</div>
    </div>
  </div>
  <!--</editor-fold>-->
  <div class="p-test2">
    <label>
      搜索框：
      <input style="height: 30px; z-index: 99">
    </label>
  </div>
  <!--<editor-fold desc="内容">-->
  <div id="site-content" class="site-content">
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <p>内容</p>
    <div>
      <ul>
        <li>测试1</li>
        <li>测试2</li>
        <li class="p-test1">测试3</li>
        <li>测试4</li>
        <li class="p-test1">测试5</li>
        <li>测试6</li>
        <li class="p-test2">测试7</li>
        <li>测试8</li>
        <li class="p-test3">固定</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>


        <li>测试8</li>
        <li>测试8</li>
        <li>测试8</li>


      </ul>

    </div>
  </div>

  <!--</editor-fold>-->
  <!--<editor-fold desc="底部导航栏">-->
  <div id="site-footer" class="site-footer">
    <p>内容</p>
  </div>
  <!--</editor-fold>-->
</div>

